.paperClipIcon{
    position: absolute;
    top: 17px;
    right: 15px;
    z-index: 99;
    font-size: 20px;
    color: lightgray;
}
.chat-box{
    position: absolute;
    bottom: 0px;
}
.chatField{
    border: 1px solid gray;
}
