.userName, .userStatus{
    color: white;
    margin-bottom: 0;
}
.userStatus{
    font-size: 18px;
}
.user-img{
    border: 1px solid white;
    width: 60px;
}
.onlineIcon{
    width: 15px;
    transform: translate(-111%, 138%);
}